.biografia-body{
    background-image: url("../img/download_image_1713132912678.png");
    background-repeat: no-repeat;
    background-size: cover ;
}


.biotitle {
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 0;
}

.babyariana {
    opacity: 0.9;
    border-radius: 10px;
    opacity: 100% !important;
    width: 55%;
    height: auto;
}

.biotext {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: "Helvetica";

}

.bio-rect {
    background: radial-gradient(circle at 50% 50%, rgba(111, 107, 99, 0.65) 48%, rgba(31, 22, 18, 0.65) 99%);
    border: 1px solid #232323;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;}

.bio-container{
    margin: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

.myeveryAriana{
    border-radius: 10px;
    opacity: 100% !important;
    width: 75%;
    height: auto;
    justify-content: center !important;
}