.portada{
    display: block;
    margin: auto;
    width: 100%;
    height: fit-content;
}
.Publicidad-img{
    height: 100%;
    width: 100%;
}
.Letra {
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    padding: 2%;
}
.letra1 {
	color: #FFFFFF;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2;
	text-align: left;
    margin-left: 2%;
}

.letra2 {
	color: #FFFFFF;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2;
	text-align: right;
    margin-right: 2%;
}

.grid-main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "imagen publicidad";
    column-gap: 12px;
};

.grid-imagen{
    grid-area: imagen;
    width: 100%;
    height: 100%;
}
.grid-aside{
    grid-area: publicidad;
}

.grid-section{
    grid-area: section;
}

.grid-footer{
    grid-area: footer;
}

.videoindex{
    display: flex;
    width: 100%;
}