
/* -----------------------------HTML------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


.index-body {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(86,7,5,1) 41%, rgba(0,0,0,1) 100% );
    background-repeat:no-repeat;
    background-size: cover;
}


.biografia-body{
    background-image: url("../img/download_image_1713132912678.png");
    background-repeat: no-repeat;
    background-size: 100% ;
}

header{
    padding-bottom: 40px;
}

.logoo{
    display: block;
    margin: auto;
    width: 250px;
    height: auto;
    padding-top: 1%;
}

.portada{
    display: block;
    margin: auto;
    width: 100%;
    height: fit-content;
}

.letra1 {
	color: #FFFFFF;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2;
	text-align: left;
    margin-left: 2%;
}

.letra2 {
	color: #FFFFFF;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2;
	text-align: right;
    margin-right: 2%;
}

.videoclip{
    text-align: center;
}

.Letra {
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    padding: 2%;
}

.Publicidad-img{
    height: 100%;
    width: 100%;
}


/* -----------------------------HTML------------------------------ */


/* ------------------------prueba de nav----------------------  */

/* .navbar{
    list-style-type: none;
    text-align: center;
    font-family: Helvetica;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    padding-top: 2%;
}

.navbar li{
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.navbar a{
    display: inline-block;
    color: #FFFFFF;
    height: 50px;
    vertical-align: middle;
    padding: 0 5px;
    align-items: center;
    display: flex;
}

.navbar li:not(:last-child)::after {
    text-decoration: none;
    content: "";  
    position: absolute; 
    top: 0;
    right: -5px; 
    height: 100%; 
    background-color: white;
    margin: auto; 
} */

/* ------------------------------------Navbar--------------------------------- */
.navv{
    background-color: transparent !important;
}

.navv a{
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 1.5rem;
}

/* .frcto{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 10%;
    color: #FFFFFF;
} */

.custom-toggler {
            border-color: white;
        }


.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ------------------------------------Navbar--------------------------------- */


/* -------------------------------------------------------Biografiaa-------------------------------------------------------*/

.bio-rect {
    display: flex;
    height: 290px;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    padding: 8px 8px 8px 8px;
    opacity: 65%;
    background: radial-gradient(circle at 50% 50%, rgb(111, 107, 99) 48%, rgba(31, 22, 18, 0.69) 99%);
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    list-style-type: none;
    justify-content: center;
    }

.bio-rect p{
    margin: 0%;
    }

.divbio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.divbio2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.ulbiorect{
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biotitle{
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 0%;
}

.biotext{
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    width: 90%;
    font-family: "Helvetica";
    opacity: none;
}

.babyariana{
    width: 341px;
    height: 213px;
    opacity: 90%;
    border-radius: 10px 10px 10px 10px;
}

/* -------------------------------------------------------Biografiaa-------------------------------------------------------*/


/* ---------------------------------------Footer---------------------------------------------- */
/* 
.footer{
    background-color: #000000;
    background-size: auto;
    width: 100%;
    margin-top: 20%;
}

.footertext{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: helvetica;
}

.copyright {
    color: antiquewhite;
    margin: auto; */
/* } */

/* ---------------------------------------Footer---------------------------------------------- */

/* ---------------------------------------Pagina contacto--------------------------------------- */

.contacto1{
    color: #FFFFFF;
    font-family:"Source Sans Pro";
    margin: auto;
    text-align: center;
}

/* .artistas{
    color: #FFFFFF;
    font-family:"Source Sans Pro";
    margin: auto;
    text-align: center;
} */

/* ---------------------------------------Pagina contacto--------------------------------------- */


/* ---------------------------------------Pagina Discografia--------------------------------------- */

/* .discotexto{
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discorect{
    width: 1178px;
    height: 286px;
    padding: 8px 8px 8px 8px;
    opacity: 65%;
    background: radial-gradient(circle at 50% 50%, rgb(113, 0, 0) 1%, rgba(0, 0, 0, 0.69) 66%);
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
}

.titulodisco{
    color: #FFFFFF;
    text-align: center;
}

.album-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    padding: 10px;
    margin: 10px;
    height: 286px;
    padding: 8px 8px 8px 8px;
    opacity: 65%;
    background: radial-gradient(circle at 50% 50%, rgb(113, 0, 0) 1%, rgba(0, 0, 0, 0.69) 66%);
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    list-style-type: none;
    }

.card-text{
    display: flex;
    flex-direction: column;
}

.albumimg{
        width: 375px;
        background: #00000000;
        position: absolute; 
        top: 40px;
        left: 40px;
        opacity: 100%;
        flex: 1;
        width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.album-card img{
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.album-song{
    color: #D6D6D6;
    text-align: center;
    flex: 1;
}

.disc1{
    width: 1178px;
	height: 286px;
	padding: 8px 8px 8px 8px;
	opacity: 65%;
	background: radial-gradient(circle at 50% 50%, rgb(113, 0, 0) 1%, rgba(0, 0, 0, 0.69) 66%);
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px 20px 20px 20px; 
}*/

/* .DiscSect{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

.card-title{
    font-family: "Carattere", cursive;
    font-size: 4vh;
}

.card-text{
    font-family: "Source Sans 3", sans-serif;
    font-size: 2vh;
}

.card{
    padding: 2%;
    color: #FFFFFF;
    opacity: 65%;
    background: radial-gradient(circle at 50% 50%, rgb(113, 0, 0) 1%, rgba(0, 0, 0, 0.69) 66%);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    list-style-type: none;
}

.card-body{
    padding-left: 5%;
    padding-right: 5%;
}


.ftoalbum{
    width: 20%; 
    height: auto;
}

.ftoqr{
    width: 20%; 
    padding: 2%;
    height: auto;
}

.cardcont{
    padding-bottom: 2%;
}

.titulodisco{
    color: #FFFFFF;
    font-family: "Source Sans 3";
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
} */

/* ---------------------------------------Pagina Discografia--------------------------------------- */

/* ---------------------------------------Grid--------------------------------------- */

.grid-main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "imagen publicidad";
    column-gap: 12px;
};

.grid-imagen{
    grid-area: imagen;
    width: 100%;
    height: 100%;
}
.grid-aside{
    grid-area: publicidad;
}

.grid-section{
    grid-area: section;
}

.grid-footer{
    grid-area: footer;
}

/* ---------------------------------------Grid--------------------------------------- */

/* Prueba de video */

/* .video-container{
    position: relative;
    padding-bottom:  56.25%;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
 */

/* --------------------------------------- medias------------------------------- */
@media screen and (min-width: 320px) and (max-width: 767px){
    .contacto1{
        font-size: 1rem;
    }
    .Letra{
        font-size: 1.5rem;
    }
    .letra1{
        font-size: 1rem;
    }
    .letra2{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){

}

@media screen and (min-width: 1024px){
}